/* Grids and Flex*/
body {
    padding: 0;
    margin: 0;
}

/* Header */
header {
    padding: 0;
    margin: 0;
}

#navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    margin: 0 0% 0 0%;
    display: flex;
    flex-direction: row;
}

#logo {
    display: flex;
    flex-basis:content;
    align-items: center;
}

#logo img {
    display: flex;
    height: 5rem;
    width: 5rem;
    justify-content: center;
    align-items: center;
}

#nav_buttons {
    display: flex;
    flex-basis:100%;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

#nav_buttons a {
    display: flex;
    width: 100%;
    height:auto;
    justify-content: center;
    align-items: center;
}

/* Main */
main {
    padding-top: 2rem;
    margin: 1rem 5% 0 5%;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

/* Tag */
#tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-evenly;
}
/* Name */
#tag h1 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    margin-top: 5rem;
}
/* Skills,hobbies,etc. */
#tag span {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    margin: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Articles */
#articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}

#articles section {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

#articles section:first-child {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

#articles section h2 {
    width: fit-content;
    padding: 1rem;
    margin: 1rem 1rem 0 0;
}

#articles section p {
    padding: 1rem 1rem 1rem 1rem;
    margin: 0 1rem 1rem 0;
    display: flex;
    flex-direction: column;
}

#articles section p span {
    display: flex;
    flex-basis: auto;
    justify-content: left;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

#articles section p span a {
    width: fit-content;
}

#articles section p span.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

#articles section p span.smallbutton {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}


#articles section p span img,#articles section p span img iframe {
    width: 45%;
}

#articles section h2, #articles section p{
    margin-left: 1rem;
}

/* Enables fullsize article using class */
#articles section.fullsize {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

/* Link buttons inside articles */
#articles section p span a.smallbutton {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
}

#articles section p span a {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
}

/* Experience */
#experience h2, #experience p {
    margin-left: 1rem;
}

/* Hobbies */
#hobbies h2, #hobbies p {
    margin-left: 1rem;
}

/* Footer */
footer {
    margin-top: 1rem;
    margin-bottom: 0;
    display: flex;
    flex-basis: 100%;
    align-items: center;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}

/* Smartphone */
@media all and (max-width:962px) {
/* Header */
#navbar {
    margin: 0 0 0 0;
    width: auto;
    display: flex;
    flex-direction: column;
}

#logo {
    visibility: hidden;
    height: 0;
}

#logo img {
    visibility: hidden;
    height: 0;
}

#nav_buttons {
    display: flex;
    flex-basis:100%;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

#nav_buttons a {
    display: flex;
    width: 100%;
    height: 2rem;
    justify-content: center;
    align-items: center;
}

/* Main */
main {
    margin: 1rem 0 0 0;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

/* Tag */
#tag {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    align-items: stretch;
}

#tag span {
    width: auto;
}

/* Articles */
#articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}

#articles section {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

#articles section p span img, iframe {
    width: 90%;
}

#articles section h2, #articles section p{
    margin-left: 1rem;
    padding: 0.5rem;
}

/* Experience */
#experience h2, #experience p {
    margin-left: 1rem;
}

/* Hobbies */
#hobbies h2, #hobbies p {
    margin-left: 1rem;
}

/* Footer */
footer {
    margin-top: 1rem;
    display: flex;
    flex-basis: 100%;
    align-items: center;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}
}