
:root{
    /* Colours */
    /* Text */
    --primary-text: #fff;
    --tag-text: #ffffff;

    /* Backgrounds */
    --void: #03045e;
    --navbar-bck: #000;
    --tag-bck: #2a6f97;
    --section-header: #006499;
    --section-background: #0077b6;
    --section-image-border: #caf0f84f;
    --shadow: #000000bd;

    /* Buttons */
    --button-background: #01497c;
    --button-hover-background: #014f86;
    --navbutton-background: #5493b4;
    --navbutton-hover-background: #62add5;
    --navbutton-selected-background: #387392;

    /* Settings */
    --border-size: 10px;
}


/* Styles */

body {
    background-color: var(--void);
    font-family: Arial, Helvetica, sans-serif;
}

p, a {
    font-size: 1.5vw;
}

h1 {
    font-size: 2.5vw;
}

h2 {
    font-size: 2vw;
}

/* Header */
#navbar {
    border: 2px solid black;
    border-radius: var(--border-size);
    background-color: var(--navbar-bck);
    box-shadow: 0px var(--border-size) var(--shadow);
}

#logo {
    background-color: rgb(93, 27, 27);
    border-radius: 100%;
}

#nav_buttons a:first-child {
    border-top-left-radius: var(--border-size);
    border-bottom-left-radius: var(--border-size);
}

#nav_buttons a:last-child {
    border-top-right-radius: var(--border-size);
    border-bottom-right-radius: var(--border-size);
}

#nav_buttons a {
    text-decoration: none;
    color: var(--primary-text);
    background-color: var(--navbutton-background);
    border: 1px solid black;
    text-decoration: none;
    transition: all 0.3s ease;
}

#nav_buttons a#selected {
    background-color: var(--navbutton-selected-background);
}

#nav_buttons a:hover, #nav_buttons a#selected:hover {
    background-color: var(--navbutton-hover-background);
    transition: all 0.3s ease;
}

/* Main */
main {
    color: var(--primary-text);
}

/* Tag */
#tag h1, #tag h2  {
    color: var(--tag-text);
    text-shadow: 1px 1px rgb(24, 51, 24);
}

div#tag span {
    background-color: var(--tag-bck);
    border-radius: var(--border-size) var(--border-size) var(--border-size) var(--border-size);
    box-shadow: 0px var(--border-size) var(--shadow);
}

/* Contact links */
a.contact {
    text-decoration-style: none;
    text-decoration-line: none;
    color: var(--tag-text)
}

/* Articles */
#articles section h2 {
    background-color: var(--section-header);
    border-radius: var(--border-size) var(--border-size) 0 0;
}

#articles section p {
    background-color: var(--section-background);
    border-radius: 0 var(--border-size) var(--border-size) var(--border-size);
    box-shadow: 0px var(--border-size) var(--shadow);
}

/* Link buttons in articles */
#articles section p span a {
    color: white;
    width: 100%;
    text-decoration: none;
    background-color: var(--button-background);
    box-shadow: 0px 4px var(--shadow);
    border-radius: var(--border-size);
}

#articles section p span a.smallbutton {
    width: auto;
}

#articles section p span a:hover {
    background-color: var(--button-hover-background);
}

#articles section p span img, #articles section p span iframe {
    border: 2px solid, var(--section-image-border);
    border-radius: var(--border-size);
    margin: 0.5em;
}

/* Experience */
#experience {
    border-top: 1px solid rgb(23,37,59);
}

/* Hobbies */
#hobbies {
    border-top: 1px solid rgb(23,37,59);
}

/* Footer */
footer {
    background-color: black;
    color: white;
}


@media all and (max-width:962px) {
    p, a {
        font-size: 3vw;
    }
    
    h1 {
        font-size: 4vw;
    }
    
    h2 {
        font-size: 3.5vw;
    }
}