/* Colours */
:root{
    --void: #17253b;
    --bck: #0D0D0D;
    --primary-text: #fff;
    --tag-text: #62da62;
}


/* Styles */

body {
    background-color: var(--void);
    font-family: Arial, Helvetica, sans-serif;
}

p, a {
    font-size: 1.25vw;
}

h1 {
    font-size: 2.5vw;
}

h2 {
    font-size: 1.5vw;
}

/* Header */
#navbar {
    border: 2px solid black;
    border-radius: 6px;
    background-color: var(--bck);
    box-shadow: 0px 6px rgb(20, 20, 20);
}

#logo {
    background-color: rgb(93, 27, 27);
    border-radius: 100%;
}

#nav_buttons a:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#nav_buttons a:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#nav_buttons a {
    text-decoration: none;
    color: var(--primary-text);
    background-color: rgb(175, 68, 68);
    border: 1px solid black;
    text-decoration: none;
    transition: all 0.3s ease;
}

#nav_buttons a#selected {
    background-color: rgb(130, 38, 38);
}

#nav_buttons a:hover, #nav_buttons a#selected:hover {
    background-color: brown;
    transition: all 0.3s ease;
}

/* Main */
main {
    border: 2px solid black;
    border-radius: 6px;
    background-color: #000000;
    color: var(--primary-text);
    box-shadow: 0px 6px rgb(20, 20, 20);
}

/* Tag */
#tag h1, #tag h2  {
    color: var(--tag-text);
    text-shadow: 1px 1px rgb(24, 51, 24);
}

div#tag span {
    background-color: rgb(26, 48, 48);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 6px rgb(20, 20, 20);
}

/* Contact links */
a#contact {
    text-decoration-style: dotted;
    color: var(--tag-text)
}

/* Articles */
#articles {
    border-top: 1px solid rgb(23,37,59);
}

#articles section h2 {
    background-color: rgb(22, 36, 36);
    border-radius: 6px 6px 0 0;
}

#articles section p {
    background-color: rgb(26, 48, 48);
    border-radius: 0 6px 6px 6px;
    box-shadow: 0px 6px rgb(20, 20, 20);
}

/* Link buttons in articles */
#articles section p span a {
    color: white;
    width: 100%;
    text-decoration: none;
    background-color: rgb(175, 68, 68);
    box-shadow: 0px 4px rgb(20, 20, 20);
    border-radius: 6px;
}

#articles section p span.gallery a {
    color: white;
    width: 100%;
    text-decoration: none;
    background-color: rgb(175, 68, 68);
    box-shadow: 0px 4px rgb(20, 20, 20);
    border-radius: 6px;
}

#articles section p span a.smallbutton {
    width: auto;
}

#articles section p span a:hover {
    background-color: rgb(130, 38, 38);
}

#articles section p span img {
    border: 2px solid rgb(20, 20, 20);
    border-radius: 6px;
}

/* Experience */
#experience {
    border-top: 1px solid rgb(23,37,59);
}

/* Hobbies */
#hobbies {
    border-top: 1px solid rgb(23,37,59);
}

/* Footer */
footer {
    background-color: black;
    color: white;
}


@media all and (max-width:962px) {
    p, a {
        font-size: 3vw;
    }
    
    h1 {
        font-size: 4vw;
    }
    
    h2 {
        font-size: 3.5vw;
    }
}